[submodule "themes/hugo-bootstrap-theme"]
	path = themes/hugo-bootstrap-theme
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme
[submodule "hugo-bootstrap-theme"]
	path = hugo-bootstrap-theme
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme
