<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src = 'images/eye.jpeg' width='150' height='150' >
        <h2 class="h2">Intuitive User Interface <small class="d-none">🛡️</small></h2>
        <p>Clean and intuitive interface for effortless text selection and interaction.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/search.jpeg' width='150' height='150' >
        <h2 class="h2">Real-Time Text Metrics <small class="d-none">🚀</small></h2>
        <p>Instantly view word count, character count (with and without spaces), and other relevant metrics for selected text.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/pdf.jpeg' width='150' height='150' >
        <h2 class="h2">Professional Writing Feedback <small class="d-none">📈</small></h2>
        <p>AI-powered analysis offering detailed insights on grammar, style, readability, and tone.
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">LInteractive Feedback Display <small class="d-none">🦉</small></h2>
        <p>Display AI feedback directly within the browser interface for easy reference and implementation.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Browser Integration <small class="d-none">✨</small></h2>
        <p>Seamlessly integrates into the browser workflow, allowing quick access to text analysis and feedback.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Contextual Writing Suggestions <small class="d-none">🧰</small></h2>
        <p> Receive context-specific writing suggestions based on the content and context of selected text.</p>
    </div>
</div>
