<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src = 'images/eye.jpeg' width='150' height='150' >
        <h2 class="h2">Character Recognition <small class="d-none">🛡️</small></h2>
        <p>Uses advanced algorithms to accurately interprets various handwriting styles, 
            enabling automated data entry and document digitization.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/search.jpeg' width='150' height='150' >
        <h2 class="h2">Searchable Text Conversion <small class="d-none">🚀</small></h2>
        <p>Creates searchable and editable document, ensuring efficient access to the information users seek.</p>
    </div>
    <div class="col-lg-4">
        <img src = 'images/pdf.jpeg' width='150' height='150' >
        <h2 class="h2">Export and Integration <small class="d-none">📈</small></h2>
        <p>Seamless conversion content into popular formats such as .pdf and .docx. Integrate 
            with popular note-taking apps.
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Language Support <small class="d-none">🦉</small></h2>
        <p>Support Character Recognition for up to 133 languages allowing for cross-cultural collaboration and learning.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Advanced Editing Tools <small class="d-none">✨</small></h2>
        <p>Powerful, extensible, and feature-packed toolkit for editing converted text.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Accessibility Features <small class="d-none">🧰</small></h2>
        <p>Text-to-speech functionality and conversion tools for more readable text.</p>
    </div>
</div>
